<!DOCTYPE html>


<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>PD Blog - Udacity cs253 home work</title>
    </head>

    <style type="text/css">
        .error {
            color: red;
        }

        .blogs {
            margin-top: 20px;
        }

        .blog-subject {
            font-weight: bold;
            font-size: 20px;
        }

        .blog-content {
            margin: 0;
            font-size: 17px;
        }
    </style>


    <body>
        <h2>Welcome to my Blog for Udacity cs253 home work...</h2>

        {% include 'blog-new.html' %}

        {% include 'blogs.html' %}
    </body>

</html>