<!DOCTYPE html>


<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css"/>
        <!-- meta http-equiv="content-type" content="text/html; charset=UTF-8"-->
        <title>PD Wiki - Udacity cs253 final</title>
    </head>

    <body>
        <div class="login-area">
            {% block headlink %}
            {% endblock %}

            {% if user %}
                {{user.name}} (<a class="login-link" href="/wiki/logout">logout</a>)
            {% else %}
                <a class="login-link" href="/wiki/login">login</a>
                |
                <a class="login-link" href="/wiki/signup">signup</a>
            {% endif %}
        </div>

        {% block content %}
        {% endblock %}

        {% if '/' != url %}
            <p></p>
            <a href="/wiki/">Visit the front page</a>
        {% endif %}
    </body>

</html>