{% extends "wiki-base.html" %}

{% block headlink %}
        <a class="login-link" href='/wiki{{url}}'>view</a>
        {% if user %}
            | <a class="login-link" href='/wiki/_edit{{url}}'>edit</a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;
{% endblock %}

{% block content %}
  <ul>
  {% for page in pages %}
    <li>{{page.created}}&nbsp;|&nbsp;{{page.content}}&nbsp;|&nbsp;<a class="login-link" href='/wiki{{url}}?v=3'>view</a>&nbsp;|&nbsp;<a class="login-link" href='/wiki/_edit{{url}}?v=3'>edit</a></li>
  {% endfor %}
  </ul>
{% endblock %}
