{% extends "wiki-base.html" %}

{% block headlink %}
            <a class="login-link" href='/wiki{{url}}'>view</a>| <a class="history" href='/wiki/_history{{url}}'>history</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% endblock %}

{% block content %}
    <div class="textarea" id="content">
        <h1>Final Edit Page</h1>

        {% if user %}
            <form method="post">
              <label>
                <textarea name="content">{{content}}</textarea>
              </label>

              <div class="error">{{error}}</div>

              <input type="submit" value="Save">
            </form>
        {% endif %}
    </div>
{% endblock %}
